*{
    margin: 0px;
    padding: 0px;
    font-family: 'Cinzel Decorative', cursive;}
    
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.navbar{
    width: 85%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
/* 
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: white; */
}

.navbar>img{
    margin-top: 5px;
    width: 90px;
    
}

.list{
    display: inline;
    list-style: none;
    margin: 0px 20px 0px 20px;
}
.link{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.link:hover{
    color: red;
}
.title{
    margin: 13% 0px 0px 8%;
}

.title-h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#lastname{
    color: orange;
}
.download{
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    margin: 30px 0px ; 

}

.images{
    position: absolute;
    bottom: 0px;
    width: 45%;
    height: 80%;
    right: 30px;

}
.imageGroup{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 1s,left 2s;
}

.images:hover #shape{
    bottom: 70px;
}
       
.images:hover #boy{
    left: 40%;
}

#about{
    margin: 19% 8% 0px 8%;
}
.about-head{
     text-align: center;
}

.about-head h2{
    font-size: 30px;
}

.about-head span{
 font-size: 20px;
 color: green;
}

/* grid */
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.about-img img{
    width: 80%;
    border-radius: 1rem;  
}

.about-details{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
.information{
    margin: 1rem 0 0 0;

}

.info-box{
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

.info-box span{
    margin-left: 1rem;
} 

#skills{
    margin: 12% 8% 0px 8%;

}

.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    position: relative;
}

.bar-content{
    font-size: 1.2rem;
    font-weight: 400;
}

.skill-img>img{
    width: 90%;
    padding-left: 4rem;
}
.base-bar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0px;
}
.html-bar{
  background-color: orange;
  width: 94%;
}

.css-bar{
    background-color: orange;
    width: 86%;
  }

  .js-bar{
    background-color: orange;
    width: 90%;
  }

  .react-bar{
    background-color: orange;
    width: 87%;
  }

  #contact{
    margin: 10% 8% 0px 8%;
  }

  .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .icon,.up-arrow {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
        
  }

  .icon i{
    font-size: 30px;
    color: black;
  }

  .icon:hover{
    background-image: linear-gradient( #000000,#ffa500);

  }

  .icon:hover i{
    color: white;
    animation: shake 0.75s;
  }

  @keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
  }

footer{
    margin: 30px 0px
}

.up-arrow{
    float: right;
    background-image: linear-gradient( #000000,#ffa500);
    margin: 0px 20px 20px 0px;
}

.up-arrow:hover i{
    color: white;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #ffffff;
    
}

::-webkit-scrollbar-thumb{
    background-color: #ffa500;
    border-radius: 10px;
}


.up-arrow>a{
    color: #0000007e;
}